*
!.gitignore
!sconstruct
!atlas_antarktiki_processing.ipynb
!volume_II.csv
!volume_I.csv
!atlas_master.xlsx
!README.md

!img/
!img/fig_1a.jpg


# In atlas/: allow only .gpkg, .log, and .txt files, keep rasters ignored here
!atlas/
atlas/**
!atlas/**/*.gpkg
!atlas/**/*.log
!atlas/**/*.txt