# Ignore everything
*

# Root-level files to keep
!.gitignore
!sconstruct
!atlas_antarktiki_processing.ipynb
!volume_II.csv
!volume_I.csv
!atlas_master.xlsx
!README.md

# img rules
!img/
!img/fig_1a.jpg

# --- atlas rules ---

# Allow the atlas directory itself
!atlas/

# Allow desired extensions anywhere under atlas
!atlas/**/*.gpkg
!atlas/**/*.log
!atlas/**/*.txt
